In [66]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [67]:
def merge_pop_data(state_name):
    '''
    This function will merge the two population datasets together.
    Input: state_name
        state_name: the state name
    return: a pandas dataframe with the merged population data
    '''
    # read in the data
    all_2000_2009 = pd.read_csv('../00_source_data/US_Population/start_2000.csv', encoding='latin-1')
    all_2010_2019 = pd.read_csv('../00_source_data/US_Population/start_2010.csv', encoding='latin-1')

    # columns to keep
    pop_col_2000_2009 = ['STNAME', 'CTYNAME', 'POPESTIMATE2000', 'POPESTIMATE2001', 'POPESTIMATE2002','POPESTIMATE2003', 'POPESTIMATE2004',
                        'POPESTIMATE2005', 'POPESTIMATE2006','POPESTIMATE2007', 'POPESTIMATE2008', 'POPESTIMATE2009']
    pop_col_2010_2019 = ['STNAME', 'CTYNAME', 'POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012','POPESTIMATE2013', 'POPESTIMATE2014',
                        'POPESTIMATE2015', 'POPESTIMATE2016','POPESTIMATE2017', 'POPESTIMATE2018', 'POPESTIMATE2019']

    # filter the data
    pop_2000_2009 = all_2000_2009[all_2000_2009['STNAME'] == state_name][pop_col_2000_2009]
    pop_2010_2019 = all_2010_2019[all_2010_2019['STNAME'] == state_name][pop_col_2010_2019]

    # rename the columns
    pop_2000_2009.columns = ['STNAME', 'CTYNAME', '2000', '2001', '2002','2003', '2004','2005','2006', '2007', '2008', '2009']
    pop_2010_2019.columns = ['STNAME', 'CTYNAME', '2010', '2011', '2012','2013', '2014','2015','2016', '2017', '2018', '2019']

    assert pop_2000_2009.shape[0] == pop_2010_2019.shape[0]  # number of county should be the same
    # merge two datasets
    pop_2000_2019 = pd.merge(pop_2000_2009, pop_2010_2019, how = 'outer', on = ['STNAME', 'CTYNAME'])

    # remove the aggregate population of the state
    pop_2000_2019 = pop_2000_2019[pop_2000_2019['CTYNAME'] != state_name]

    # convert columns to rows   
    pop = pd.melt(pop_2000_2019, id_vars=['STNAME', 'CTYNAME'], var_name='YEAR', value_name='POPULATION')
    assert pop.shape[0] == pop_2000_2019.shape[0] * (pop_2000_2019.shape[1]-2)  # number of rows should be the same
    assert pop['YEAR'].nunique() == (pop_2000_2019.shape[1]-2)  # number of years should be the same
    
    return pop

### Florida and its reference states

AZ, CO, FL, LA, NV, SC

In [68]:
pop_az = merge_pop_data('Arizona')
pop_co = merge_pop_data('Colorado')
pop_fl = merge_pop_data('Florida')
pop_la = merge_pop_data('Louisiana')
pop_nv = merge_pop_data('Nevada')
pop_sc = merge_pop_data('South Carolina')

In [69]:
# check missing values
for i in [pop_az, pop_co, pop_fl, pop_la, pop_nv, pop_sc]:
    print(f"Population dataframe has {i.isna().sum().sum()} missing values")

Population dataframe has 0 missing values
Population dataframe has 0 missing values
Population dataframe has 0 missing values
Population dataframe has 20 missing values
Population dataframe has 0 missing values
Population dataframe has 0 missing values

Check missing values in Louisana

In [70]:
pop_la[pop_la['POPULATION'].isna()]

         STNAME          CTYNAME  YEAR  POPULATION
64    Louisiana   LaSalle Parish  2000         NaN
129   Louisiana   LaSalle Parish  2001         NaN
194   Louisiana   LaSalle Parish  2002         NaN
259   Louisiana   LaSalle Parish  2003         NaN
324   Louisiana   LaSalle Parish  2004         NaN
389   Louisiana   LaSalle Parish  2005         NaN
454   Louisiana   LaSalle Parish  2006         NaN
519   Louisiana   LaSalle Parish  2007         NaN
584   Louisiana   LaSalle Parish  2008         NaN
649   Louisiana   LaSalle Parish  2009         NaN
679   Louisiana  La Salle Parish  2010         NaN
744   Louisiana  La Salle Parish  2011         NaN
809   Louisiana  La Salle Parish  2012         NaN
874   Louisiana  La Salle Parish  2013         NaN
939   Louisiana  La Salle Parish  2014         NaN
1004  Louisiana  La Salle Parish  2015         NaN
1069  Louisiana  La Salle Parish  2016         NaN
1134  Louisiana  La Salle Parish  2017         NaN
1199  Louisiana  La Salle Parish  2018         NaN
1264  Louisiana  La Salle Parish  2019         NaN

In [71]:
all_2000_2009 = pd.read_csv('../00_source_data/US_Population/start_2000.csv', encoding='latin-1')
all_2010_2019 = pd.read_csv('../00_source_data/US_Population/start_2010.csv', encoding='latin-1')

# columns to keep
pop_col_2000_2009 = ['STNAME', 'CTYNAME', 'POPESTIMATE2000', 'POPESTIMATE2001', 'POPESTIMATE2002','POPESTIMATE2003', 'POPESTIMATE2004',
                    'POPESTIMATE2005', 'POPESTIMATE2006','POPESTIMATE2007', 'POPESTIMATE2008', 'POPESTIMATE2009']
pop_col_2010_2019 = ['STNAME', 'CTYNAME', 'POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012','POPESTIMATE2013', 'POPESTIMATE2014',
                    'POPESTIMATE2015', 'POPESTIMATE2016','POPESTIMATE2017', 'POPESTIMATE2018', 'POPESTIMATE2019']

# filter the data
pop_2000_2009 = all_2000_2009[all_2000_2009['STNAME'] == "Louisiana"][pop_col_2000_2009]
pop_2010_2019 = all_2010_2019[all_2010_2019['STNAME'] == "Louisiana"][pop_col_2010_2019]

# rename the columns
pop_2000_2009.columns = ['STNAME', 'CTYNAME', '2000', '2001', '2002','2003', '2004','2005','2006', '2007', '2008', '2009']
pop_2010_2019.columns = ['STNAME', 'CTYNAME', '2010', '2011', '2012','2013', '2014','2015','2016', '2017', '2018', '2019']

In [72]:
pop_2010_2019[pop_2010_2019['CTYNAME'] == 'LaSalle Parish']

,STNAME,CTYNAME,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1162,Louisiana,LaSalle Parish,14909,14941,14860,14819,14873,14975,15028,14893,14900,14910

In [73]:
pop_2000_2009[pop_2000_2009['CTYNAME'] == 'LaSalle Parish']

Empty DataFrame
Columns: [STNAME, CTYNAME, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009]
Index: []

In [74]:
pop_2000_2009['CTYNAME'].unique()

array(['Louisiana', 'Acadia Parish', 'Allen Parish', 'Ascension Parish',
       'Assumption Parish', 'Avoyelles Parish', 'Beauregard Parish',
       'Bienville Parish', 'Bossier Parish', 'Caddo Parish',
       'Calcasieu Parish', 'Caldwell Parish', 'Cameron Parish',
       'Catahoula Parish', 'Claiborne Parish', 'Concordia Parish',
       'De Soto Parish', 'East Baton Rouge Parish', 'East Carroll Parish',
       'East Feliciana Parish', 'Evangeline Parish', 'Franklin Parish',
       'Grant Parish', 'Iberia Parish', 'Iberville Parish',
       'Jackson Parish', 'Jefferson Parish', 'Jefferson Davis Parish',
       'Lafayette Parish', 'Lafourche Parish', 'La Salle Parish',
       'Lincoln Parish', 'Livingston Parish', 'Madison Parish',
       'Morehouse Parish', 'Natchitoches Parish', 'Orleans Parish',
       'Ouachita Parish', 'Plaquemines Parish', 'Pointe Coupee Parish',
       'Rapides Parish', 'Red River Parish', 'Richland Parish',
       'Sabine Parish', 'St. Bernard Parish', 'St. Charles Parish',
       'St. Helena Parish', 'St. James Parish',
       'St. John the Baptist Parish', 'St. Landry Parish',
       'St. Martin Parish', 'St. Mary Parish', 'St. Tammany Parish',
       'Tangipahoa Parish', 'Tensas Parish', 'Terrebonne Parish',
       'Union Parish', 'Vermilion Parish', 'Vernon Parish',
       'Washington Parish', 'Webster Parish', 'West Baton Rouge Parish',
       'West Carroll Parish', 'West Feliciana Parish', 'Winn Parish'],
      dtype=object)

County "LaSalle Parish" in population_2010_2019 is spelled as "La Salle Parish" in population_2000_2009

In [75]:
# replace La Salle Parish with LaSalle Parish 
pop_2000_2009['CTYNAME'] = pop_2000_2009['CTYNAME'].replace('La Salle Parish', 'LaSalle Parish')

In [76]:
# merge two datasets
pop_2000_2019 = pd.merge(pop_2000_2009, pop_2010_2019, how = 'outer', on = ['STNAME', 'CTYNAME'])
assert pop_2000_2019.isna().sum().sum() == 0   # make sure there is no missing value

# remove the aggregate population of the state
pop_2000_2019 = pop_2000_2019[pop_2000_2019['CTYNAME'] != "Louisiana"]

# convert columns to rows   
pop_la = pd.melt(pop_2000_2019, id_vars=['STNAME', 'CTYNAME'], var_name='YEAR', value_name='POPULATION')

In [ ]:
fl_shipment_pop = pd.concat([pop_az, pop_fl, pop_la, pop_sc])
assert fl_shipment_pop.shape[0] == pop_az.shape[0] + pop_fl.shape[0] + pop_la.shape[0] + pop_sc.shape[0]  # make sure the number of rows is the same

# write the data to csv
fl_shipment_pop.to_csv('../20_intermediate_files/fl_shipment_pop.csv', index=False)

In [77]:
fl_death_pop = pd.concat([pop_co, pop_fl, pop_la, pop_nv])
assert fl_death_pop.shape[0] == pop_co.shape[0] + pop_fl.shape[0] + pop_la.shape[0] + pop_nv.shape[0]  # make sure the number of rows is the same

# write the data to csv
fl_death_pop.to_csv('../20_intermediate_files/fl_death_pop.csv', index=False)

### Texas and its reference states

NY, OR, TX, WI

In [79]:
pop_ny = merge_pop_data('New York')
pop_or = merge_pop_data('Oregon')
pop_tx = merge_pop_data('Texas')
pop_wi = merge_pop_data('Wisconsin')

In [80]:
# check missing values
for i in [pop_ny, pop_or, pop_tx, pop_wi]:
    print(f"Population dataframe has {i.isna().sum().sum()} missing values")

Population dataframe has 0 missing values
Population dataframe has 0 missing values
Population dataframe has 0 missing values
Population dataframe has 0 missing values

In [81]:
tx_death_pop = pd.concat([pop_ny, pop_or, pop_tx, pop_wi])
assert tx_death_pop.shape[0] == pop_ny.shape[0] + pop_or.shape[0] + pop_tx.shape[0] + pop_wi.shape[0]  # make sure the number of rows is the same

# write the data to csv
tx_death_pop.to_csv('../20_intermediate_files/tx_death_pop.csv', index=False)

### Washington and its reference states

AZ, CO, HI, NY, OK, OR, WA

In [82]:
pop_az = merge_pop_data('Arizona')
pop_co = merge_pop_data('Colorado')
pop_hi = merge_pop_data('Hawaii')
pop_ny = merge_pop_data('New York')
pop_ok = merge_pop_data('Oklahoma')
pop_or = merge_pop_data('Oregon')
pop_wa = merge_pop_data('Washington')

In [83]:
# check missing values
for i in [pop_az, pop_co, pop_hi, pop_ny, pop_ok, pop_or, pop_wa]:
    print(f"Population dataframe has {i.isna().sum().sum()} missing values")

Population dataframe has 0 missing values
Population dataframe has 0 missing values
Population dataframe has 0 missing values
Population dataframe has 0 missing values
Population dataframe has 0 missing values
Population dataframe has 0 missing values
Population dataframe has 0 missing values

In [84]:
wa_shipment_pop = pd.concat([pop_az, pop_co, pop_ny, pop_wa])
assert wa_shipment_pop.shape[0] == pop_az.shape[0] + pop_co.shape[0] + pop_ny.shape[0] + pop_wa.shape[0]  # make sure the number of rows is the same

# write the data to csv
wa_shipment_pop.to_csv('../20_intermediate_files/wa_shipment_pop.csv', index=False)

In [85]:
wa_death_pop = pd.concat([pop_hi, pop_ok, pop_or, pop_wa])
assert wa_death_pop.shape[0] == pop_hi.shape[0] + pop_ok.shape[0] + pop_or.shape[0] + pop_wa.shape[0]  # make sure the number of rows is the same

# write the data to csv
wa_death_pop.to_csv('../20_intermediate_files/wa_death_pop.csv', index=False)